<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @programme_session.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @programme_session.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @programme_session.end_date %>
</p>
